# 1. Create one variable which contains following data type

String

In [1]:
x="ALPH"
type(x)

str

List

In [2]:
y= [45, "Ramesh",True,196.48]
type(y)

list

In [3]:
y

[45, 'Ramesh', True, 196.48]

Float

In [4]:
float= 63.45
type(float)

float

Tuple

In [5]:
b= (1,2,"Ramesh",[0,1,3])
b[2]

'Ramesh'

In [6]:
type(b)

tuple

# 2. Given are some following variables containing data

1

In [7]:
var1= ''
type(var1)

str

2

In [8]:
var2 = '[DS, ML, Python]'
type(var2)

str

3

In [9]:
var3= ['DS','ML','Python']
type(var3)

list

4

In [10]:
var4 = 1
type(var4)

int

# 3. Explain the use of following operators with examples

/ = Division Operator, Simply divide two numbers and output is a floating number

In [11]:
78/5

15.6

% = Modulas Operator, Gives Only remainder value

In [12]:
8 % 5

3

// = Floor Division, returns largest possible integral value after division but not greater than original value

In [13]:
8//5

1

In [14]:
9//5

1

** = Power Operator, just like exponent in airthmetic

In [15]:
2**3

8

# 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [16]:
l= [45,78.56,"Raman",True,(1,5,2),{"A": 1, "B" : 2},{1,2}, str(45), False, int(32)]
for a in l:
    print(a,type(a))

45 <class 'int'>
78.56 <class 'float'>
Raman <class 'str'>
True <class 'bool'>
(1, 5, 2) <class 'tuple'>
{'A': 1, 'B': 2} <class 'dict'>
{1, 2} <class 'set'>
45 <class 'str'>
False <class 'bool'>
32 <class 'int'>

# 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [21]:
a= int(input())
b= int(input())
i=1
while a % b ==0 :
    print(a/b,i, "times divisible")
    b= b+b
    i=i+1
else:
    print(" Not Divisible")

8
2
4.0 1 times divisible
2.0 2 times divisible
1.0 3 times divisible
 Not Divisible

# 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [22]:
l=[2,3,5,7,14,18,9,15,17,50,98,96,23,25,24,29,27,33,52,69,67,78,25,64,89]
for a in l:
    if a % 3 ==0:
        print(a, "Divisible by 3")
    else:
        print(a, "Not Divisible by 3")

2 Not Divisible by 3
3 Divisible by 3
5 Not Divisible by 3
7 Not Divisible by 3
14 Not Divisible by 3
18 Divisible by 3
9 Divisible by 3
15 Divisible by 3
17 Not Divisible by 3
50 Not Divisible by 3
98 Not Divisible by 3
96 Divisible by 3
23 Not Divisible by 3
25 Not Divisible by 3
24 Divisible by 3
29 Not Divisible by 3
27 Divisible by 3
33 Divisible by 3
52 Not Divisible by 3
69 Divisible by 3
67 Not Divisible by 3
78 Divisible by 3
25 Not Divisible by 3
64 Not Divisible by 3
89 Not Divisible by 3

# What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable Data Type = It can be change on Indexing.

In [23]:
l= [45,65,87]
type(l)

list

In [24]:
l[2]=0

In [25]:
l

[45, 65, 0]

Immutable Data Type= It can not on Indexing

In [26]:
s= "ALPHA"
type(s)

str

In [27]:
s[0]

'A'

In [30]:
s[0]= "C"

TypeError: 'str' object does not support item assignment

from above S[0] =" C " is not possible becuuse str object does not support item assignment.